<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

<div class="maintxt">
  <h1>CodeSquad Comics</h1>
  <p>
    CodeSquad Comics is a collection of graphic novels read by YOUR NAME. The
    site is intended to display comic book covers along with information about
    each book, including the author, a rating, and other details about the
    graphic novel. Browse through the complete collection below. Click on the
    cover image or the Details link to see even more information for each
    graphic novel including the publisher, genre, number of pages, and a brief
    synopsis. The About page includes meta information about this collection.
    Login is only available to the site administrator at this time.
  </p>
</div>
<div class="maintxt">
  <h1>Complete Comic Collection</h1>
  <div class="main1">

    <% for(book of data) { %>
    <div class="indiv">
      <img src="/images/<%= book.image %>" />
      <p><%= book.title %></p>
      <p><%= book.author %></p>
      <p>
        <% for(let i = 0; i < book.rating; i++) { %>
        <i class="fas fa-star"></i>
        <% }%>
      </p>
      <a href="./books/<%= book._id %>" class="btn">Details</a>
    </div>
    <% }%>

  </div>
  <button onclick="myFunction()" id="myBtn">Display More</button>
</div>

<%- include('../partials/footer') -%>
