<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

<div class="maintxt">
  <h1>CodeSquad Comics</h1>
  <p>
    CodeSquad Comics is a collection of graphic novels read by YOUR NAME. The
    site is intended to display comic book covers along with information about
    each book, including the author, a rating, and other details about the
    graphic novel. Browse through the complete collection below. Click on the
    cover image or the Details link to see even more information for each
    graphic novel including the publisher, genre, number of pages, and a brief
    synopsis. The About page includes meta information about this collection.
    Login is only available to the site administrator at this time.
  </p>
</div>
<div class="maintxt">
  <h1>Complete Comic Collection</h1>
  <div class="main1">
    <!-- <div class="indiv">
      <img
        src="public/images/fun-home.jpg"
        alt="Fun Home Comic cover: Framed picture of family with green background."
      />
      <p><i>Fun Home: A Family Tragicomic</i></p>
      <p>by Alison Bechdel</p>
      <p>5 Stars</p>
      <p><a href="#details">Details</a></p>
    </div> -->

    <% for(book of data) { %>
    <div class="indiv">
      <img src="/images/<%= book.image %>" />
      <p><%= book.title %></p>
      <p><%= book.author %></p>
      <p>
        <% for(let i = 0; i < book.rating; i++) { %>
        <i class="fas fa-star"></i>
        <% }%>
      </p>
      <a href="./books/<%= book._id %>" class="btn">Details</a>
    </div>
    <% }%>

    <!-- <div class="indiv">
          <img
            src="public/images/watchmen.jpg"
            alt="Watchmen Comic cover: Drop of blood on zoomed in smiley face."
          />
          <p><i>Watchmen</i></p>
          <p>by Alan Moore</p>
          <p>5 Stars</p>
          <p><a href="watchman.html">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/hunter-x-hunter.jpg"
            alt="Hunter X Hunter Comic cover: Boy in frog suit."
          />
          <p><i>Hunter X Hunter Vol. 1</i></p>
          <p>by Yoshihiro Togashi</p>
          <p>5 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/lumberjanes.jpg"
            alt="LumberJanes Comic cover: Five friends hangout outside country cabin."
          />
          <p><i>Lumberjanes Vol. 1</i></p>
          <p>by Noelle Stevenson</p>
          <p>4 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/one-piece.jpg"
            alt="One Piece Comic cover: Boy in frog suit."
          />
          <p><i>One Piece Vol. 1: Romance Dawn</i></p>
          <p>by Eiichiro Oda</p>
          <p>5 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/wake.jpg"
            alt="Wake comic cover: Enslaved women look to the horizon."
          />
          <p><i>Wake: The Hidden History of Women-Led Slave Revolts</i></p>
          <p>by Rebecca Hall</p>
          <p>4 Stars</p>
          <p><a href="#details">Details</a></p>
          <p></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/black-panther.jpg"
            alt="Black Panther Comic cover: Hero in black panther suit stands in front of burning city."
          />
          <p><i>Black Panther: A Nation Under Our Feet, Book 1</i></p>
          <p>by Ta-Nehisi Coates</p>
          <p>3 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/the-walking-dead.jpg"
            alt="Walking Dead Comic cover: Broken framed photo of family with group of zombies in the foreground."
          />
          <p><i>The Walking Dead Vol. 1: Days Gone Bye</i></p>
          <p>by Robert Kirkman</p>
          <p>4 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/march.jpg"
            alt="March Comic cover: John Lewis sits at diner counter."
          />
          <p><i>March: Book One</i></p>
          <p>by John Lewis</p>
          <p>5 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/batman.jpg"
            alt="Batman Comic cover: Large bolt of lightning with caped superhero silhouette."
          />
          <p><i>Batman: The Dark Knight Returns</i></p>
          <p>by Frank Miller</p>
          <p>3 Stars</p>
          <p><a href="#details" class="details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/queer.jpg"
            alt="Queer Comic cover: Person in suit with umbrella, their step impact becoming rainbow arrows."
          />
          <p><i>Queer: A Graphic History</i></p>
          <p>by Meg-John Barker</p>
          <p>4 Stars</p>
          <p><a href="#details">Details</a></p>
        </div>
        <div class="indiv">
          <img
            src="public/images/parable-of-the-sower.jpg"
            alt="Parable of the Sower Comic cover: Women standing in foreground with fire and mountains behind."
          />
          <p><i>Parable of the Sower</i></p>
          <p>by Octavia E. Butler</p>
          <p>4 Stars</p>
          <p><a href="#details">Details</a></p>
        </div> -->
  </div>
  <button onclick="myFunction()" id="myBtn">Display More</button>
</div>

<%- include('../partials/footer') -%>
